.coming-soon {
  height: 65vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}


.coming-soon_bg {
  width: 10000px;
  height: 100%;
  background: url('../images/deliveryman_bg.png');
  background-repeat: repeat-x;
  -webkit-animation: move 30s linear infinite;
  animation: move 30s linear infinite;
  z-index: -100;


}

.delivery,
.delivery_content {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 10;

}

.delivery {
  width: 600px;
  height: 500px;
  top: 45%;
  background: url('../images/deliveryman2.png');
  background-position: center;
  background-size: 226% auto;
  background-repeat: no-repeat;
}

.delivery_content {
  z-index: 100;
  opacity: .7rem;
}


.delivery_content h2 {
  text-align: center;
  color: var(--white);
  font-family: var(--comicneue);
  max-width: 797px;
  font-size: 2.5rem;
  margin: 0 auto;
}

.delivery_content h2 span {
  padding-left: 1rem;
}

@media (max-width: 412px) {
  .delivery_content h2 {
    color: #06FF00;
  }

  .delivery {
    background-size: 200% auto;
    left: 53%;
  }
}


@-webkit-keyframes move {
  0% {
    background-position: -10%;
  }

  50% {
    background-position: -50%;
  }

  100% {
    background-position: -100%;
  }

}


@keyframes move {
  0% {
    background-position: -10%;
  }

  50% {
    background-position: -50%;
  }

  100% {
    background-position: -100%;
  }

}