
.coming-soon{
    height:65vh;
    position:relative;
    width:100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.coming-soon_bg{
  width: 10000px;
  height: 100%;
  background: url('../images/deliveryman_bg.png');
  background-repeat: repeat-x;
  animation: move 30s linear infinite;
  z-index: -100;


}
.delivery, .delivery_content{
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  z-index: 10;

}

.delivery {
  width: 600px;
  height: 500px;
  top:45%;
  background :url('../images/deliveryman2.png');
  background-position: center;
  background-size: 226% auto;
  background-repeat: no-repeat;
}

.delivery_content{
  z-index: 100;
  opacity: .7rem;
}


.delivery_content h2{
  text-align: center;
  color: var(--white);
  font-family: var(--comicneue);
  max-width: 797px;
  font-size: 2.5rem;
  margin: 0 auto;
}

@keyframes move {
  0%{
      background-position: -10%;
  }
  50%{
      background-position: -50%;
  }
  100%{
      background-position: -100%;
  }

}

/* 
@media (max-width: 546px) {
  .delivery{
  transform: scale(1.3);
  left: -172px;
  top: 3px;
  }
}

@media (max-width: 534px) {
  .delivery{
    left: -250px;
    }
}

@media (max-width: 412px) {
  .delivery{
  transform: scale(1);
    left: -250px;
    }
} */

