*,
*::before,
*::after {
    margin: 0;
    transition: all .2s linear;
    padding: 0;
    box-sizing: border-box;
}

:root {


    /* Fonts */
    /* body , 400 and bold 700 */
    --comicneue: 'Comic Neue', cursive;
    /* spans */
    --hubballi: 'Hubballi', cursive;
    /* titles */
    --redhat: 'Red Hat Display', sans-serif;
    /* title sexy */
    --metal: 'Metal Mania', cursive;
    /* Fonts */

    /* Colors */
    --gray: #EEEEEE;
    --header_bg: #495371;
    --white: #F7F7F7;
    --heavy_gray: #D8D2CB;

    --seller_bg: #FF9F45;
    --addcart: #F76E11;

}

body {
    font-size: 1.3rem;
    font-family: var(--comicneue);
    font-weight: 400;
    background-color: var(--gray);
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

a {
    font-size: 1rem;
    text-decoration: none;
}

/* Navigation */

header {
    padding: 1.3rem 0;
    /* text-align: center; */
    background: var(--header_bg);
    /* background: var(--white); */

}

.header {
    position: relative;
}

.logo {
    text-decoration: none;
    color: var(--white);
    /* background: var(--header_bg); */
}

.logo img {
    width: 150px;
    height: 150px;
    z-index: -2;
}


.nav_item {
    padding: 0 .5rem;
    list-style: none;
    padding-bottom: 1.5rem;
    /* transition: all 1s ease; */
}


.nav_link {
    padding: .5rem 1rem;
    border-radius: 2px;
    background: #00B4D8;
    color: var(--white);
    font-size: 1rem;
    text-decoration: none;
    transition: background 250ms ease-in;
    transition: color 250ms ease-in-out;

}

.nav_link:hover {
    color: var(--header_bg);
    background: #90E0EF;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0;
    background: var(--heavy_gray);
    transition: opacity 250ms ease;
    border-radius: 50%;
    color: var(--white);
    position: absolute;
    top: 1.125rem;
    right: 2rem;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::after,
.hamburger::before {
    display: block;
    height: 2.5px;
    background: #222;
    margin: 0 auto;

}

.hamburger::after,
.hamburger::before {
    content: '';
    width: 100%;

}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    text-align: right;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

/* Shopping cart part  */
.shopping_cart_count {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-row .shopping_cart_count {
    top: 4.875rem;
    right: 1rem;
}

/* Shopping cart part  */

/* --Navigation continua */

@media (min-width: 800px) {
    .nav-toggle {
        display: none;
    }



    .nav {
        visibility: visible;
        display: flex;
        align-items: center;
        height: auto;
        justify-content: flex-end;
        position: relative;

    }

    .nav_list {
        display: flex;
        margin: 0;
    }

    .nav_item {
        margin: 0 0 0 1em;
        padding-bottom: 0;
    }

    .nav-row {
        display: flex;
        justify-content: space-between;
    }

    /* Shopping cart count on larger screens */
    .nav-row .shopping_cart_count {
        top: 0;
        right: 0;
    }

}


/* Navigation */



/* Main Body Cart part */
/* Using grid show responsiveness */
.cart-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.shopping-cart {
    width: 90%;
    max-width: 300px;
    background: #fff;
    box-shadow: 5px 5px 3px -3px var(--header_bg);
    border-radius: 5px;
    margin: 1.5rem auto;
    text-align: center;
}

.cart-img {
    width: 100%;
    height: 300px;
}

.cart-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.cart-body {
    padding: 1rem;
}

.cart-title {
    font-family: var(--redhat);
    letter-spacing: .1rem;
    padding-bottom: .5rem;
}

.seller {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    background: var(--seller_bg);
}

.seller span {
    color: #1572A1;
    font-weight: 700;
}

.cart-text {
    padding: 1rem 0;
    font-size: .9rem;
    letter-spacing: .1rem;
}

.price {
    font-weight: 700;
    padding-bottom: 1rem;
}

.price span {
    font-weight: 400;
    font-size: 1rem;
    text-decoration: underline;
}

.add_product {
    font-size: 1rem;
    padding: 1rem 2rem;
    background: var(--addcart);
    border-radius: 5px;
    transform: all .2s;
}

.add_product:hover {
    background: var(--seller_bg);
}

/* Different column item numbers for responsivity */
@media (max-width: 1404px) {
    .cart-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}



/* Different column item numbers for responsivity */

/* Main Body Cart part */


/* Shopping Cart part */


.cart_products {
    color: var(--white);
}

.cart_count {
    font-weight: 500;
    color: var(--addcart);
    padding: .3rem .5rem;
    border-radius: 15px;
    background: var(--gray);
}



/* Shopping Cart part */


/* Cart.php stylings */

.header_cart {
    padding: 3rem;
    background: var(--header_bg);
}

.header_cart h2 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    font-family: var(--metal);
    color: var(--heavy_gray);
}


/* .mycart_grid {
    display: grid;
    grid-template-columns: .65fr .35fr;
    grid-gap: 10px;
}

.mycart_grid .my_cart {
    margin: 1rem 0;
} */

/* Form element
.mycart_grid .my_cart .cart_items {
    margin: 1.2rem 0;
    height: auto;
    border: 1px solid var(--header_bg);
    background: var(--white);
}

.mycart_grid .my_cart .cart-items .cart-img {
    width: 25%;
    height: auto;
}

.mycart_grid .my_cart .cart-items .cart-img img {
    border-radius: 0;
    width: 200px;
    height: 200px;
}


.mycart_grid .my_cart .cart-items .details {
    width: 50%;
}

.details {
    text-align: center;
    max-width: 415px;
}

.details h5 {
    padding: .7rem 0;
    font-family: var(--redhat);
} */


 

/* .details .seller {
    font-size: 1.8rem;
    padding: 1rem 0;
    background: none;
}


.details button {
    font-size: .9rem;
    letter-spacing: .1rem;
    padding: .7rem !important;
}

.details .remove {
    margin-left: 1rem;
    background: var(--addcart);
}

.details .remove:hover {
    color: var(--white);
    background: #E83A14;
}

.mycart_grid .my_cart .cart-items .addremove {
    /* justify-self: center; */
    /* align-self: center;
    text-align: center;
    padding-right: 1rem;
    /* border: 1px solid #ccc; */
    /* width: 100px; */

/* } */ 

/* .mycart_grid .my_cart .cart-items .addremove input::-webkit-outer-spin-button,
.mycart_grid .my_cart .cart-items .addremove input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
/* .mycart_grid .my_cart .cart-items .addremove input[type=number] {
    -moz-appearance: textfield;
} */

/* .mycart_grid .my_cart .cart-items .addremove input {

    font-size: 1rem;
    text-align: center;
    padding: .5rem;
    width: 30px;
    border-radius: 10px;
    border: 1px solid var(--header_bg);
} */ 

/* .mycart_grid .my_cart .cart-items .addremove button {
    width: 30px;
    padding: .3rem !important;
    color: var(--white);
}

.mycart_grid .my_cart .cart-items .addremove .minus {
    background: #890F0D;
}

.mycart_grid .my_cart .cart-items .addremove .minus:hover {
    background: #E83A14;
}

.mycart_grid .my_cart .cart-items .addremove .add {
    background: #0E185F;
}

.mycart_grid .my_cart .cart-items .addremove .add:hover {
    background: #42C2FF;
}

.mycart_grid .my_cart .cart-items .addremove input:focus,
.mycart_grid .my_cart .cart-items .addremove input:hover {
    outline: 0;
    border: 2px solid var(--seller_bg);
}


.mycart_grid .checkout {
    margin: 2rem;
    height: 300px;
    background: var(--white);
    box-shadow: 5px 5px 3px -3px var(--header_bg);
    border-radius: 5px;
}

.mycart_grid .checkout .price-det {
    padding: 1rem 0;
}

.mycart_grid .checkout .price-det h6 {
    padding: 0 .2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--header_bg);
    font-family: var(--hubballi);
} */

/* Different column item numbers for responsivity */


/* @media (max-width: 1078px) {

    .cart-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .mycart_grid {
        grid-template-columns: .5fr .5fr;
        grid-gap: 44px;
    }

    .mycart_grid .my_cart {
        margin: 1rem auto;
    }

    .mycart_grid .my_cart .cart-items {
        max-width: 300px;
        flex-direction: column;
    }

    .mycart_grid .my_cart .cart-items .cart-img {
        width: 100%;
    }

    .mycart_grid .my_cart .cart-items .cart-img img {
        width: 100%;
        height: 300px;
    }

    .mycart_grid .my_cart .cart-items .details,
    .mycart_grid .my_cart .cart-items .addremove {
        text-align: center;
        width: 100%;
    }

    .details .addtowish,
    .details .remove {
        margin: 1rem auto;
        display: block;
    }

    .details .seller {
        font-size: 1.8rem;
        padding: .5rem 0;
        background: var(--seller_bg);
    }

    .mycart_grid .my_cart .cart-items .addremove {
        margin-bottom: 1rem;

    }
} */


@media (max-width: 828px) {
    .cart-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cart-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .mycart_grid .my_cart .cart-items {
        margin: 1rem auto;
    } */

    .shopping_cart_count {
        position: absolute;
        top: -2.125rem;
        right: -2.125rem;
    }
}


/* Additional cart workings */
.container-cart {
    /* max-width: 900px; */
    /* margin: 0 auto; */
    /* padding: 0 1.5em; */
}
.section-header {
    padding: 1rem 0;
    font-family: var(--metal);
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}


.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}


.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    padding-top: .5rem ;
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total h5{
    letter-spacing: .2rem;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    font-family: var(--metal);
    color: #333;
    letter-spacing: .1rem;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.addtowish , .remove  {
    font-size: .9rem;
    letter-spacing: .1rem;
    padding: 1rem;
}

.addtowish {
    background: #00C897;
}

 .addtowish:hover {
    color: var(--white);
    background: #019267;
}

 .remove {
    margin-left: 1rem;
    background: var(--addcart);
}

.remove:hover {
    color: var(--white);
    background: #E83A14;
}

@media (max-width: 828px) {
    .cart-quantity{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;

    }

    .addtowish , .remove  {
        margin: 1rem 0;
    }
    /* .cart-grid {
        grid-template-columns: repeat(1, 1fr);
    } */
}

/* +FOOTER */
footer{
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    padding: 5rem;
    background: #141E27;
    color: var(--white);
    margin-bottom: 0;
    /* font-family: var(--metal); */
}

.footer_cart{
    /* bottom: 0; */
    padding: 2rem !important;
}


@media (max-width: 476px) {
    .cart-header{
        display: none;
    }
    .cart_items, .cart-row{
        flex-direction: column;
    }
    .cart-item, .cart-price, .cart-quantity{
        padding: 5rem 0;
        justify-content: center;
        position: relative;
        width: 100%;

    }
    .cart_i::before, .cart_p::before, .cart_q::before{
        border-bottom: 2px solid black;
        text-transform: uppercase;
        position: absolute;
        font-weight: 700;
        top: 0;
    }

    .cart_i::before{
        content: 'ITEM';
        
        
    }
    .cart_p::before{
        content: 'PRICE';
        
    }
    .cart_q::before{
        content: 'QUANTITY';
        
    }

    .footer_cart{
        position: relative;
    }
    
}

/* FOOTER SECTION */


.links a {
    padding: 0 .7rem;
    text-decoration: none;
    color: var(--white);

}

.fa-brands{
    transition: all .2s ease-in;
    font-size: 1.3rem;
    padding: .5rem;
    border-radius: 50%;

}
.fa-brands:hover{
    background: var(--header_bg);
    /* background: #141E27; */
}



/* FOOTER SECTION */
